* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
    background-color: #003b3b;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    padding-top: 100px;
    /* Espaço para o header */
    padding-bottom: 120px;
    /* Espaço para o footer */


}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* Garantir que o header fique sobre o conteúdo */
}

header img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    font-weight: bold;
}

header a {
    color: #000000;
    text-decoration: none;
}

main {

    display: flex;
    gap: 30px;

    width: 80%;
    margin-top: 100px;
    /* Espaço adicional para header fixo */


}

.buttonm{
    background-color: #4CAF50; /* cor verde */
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.button- {
    background-color: #ff4d4d; /* cor vermelha */
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.valortotal{

    margin-left: 25px;
}
.valortotal h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
 
}
.valortotal p{

    text-align: center;
}
.lucro {
    background-color: #ffffff33; /* Fundo translúcido */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 100px;
}

.valores .valortotal,
.extrato {
    background-color: #53a393;
    padding: 50px;
    border-radius: 10px;
    color: white;
    flex: 1;
    
    align-items: center;
}

.valores h2 {
    margin-top: 0;
    border-radius: 100px;
}

.extrato h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.extrato p{
    margin-top: 10px;
    margin-right: 500px;
}

.extrato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #29adad8c; /* Cor mais escura */
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-left: 50px;
    float: right;
}

.valores {
    background-color: #29adad8c;
    padding: 20px;
    border-radius: 10px;
    color: white;
    flex: 1;
    text-align: center;
}

.valores h2 {
    margin-bottom: 20px;
}

form label {
    color: white;
    font-weight: bold;
}

form label,
form input {
    display: block;
    margin-bottom: 10px;
}

form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #e3e3e3;
    color: #666;
}



.icones{
   

    height: 15px;
    font-size: 24px;
    display: flex;
    justify-content: flex-end; /* Alinha os ícones à direita */
    gap: 15px;
    align-self: flex-start; /* Move a div icones para o topo do footer */
    padding-right: 20px; /* Adiciona um afastamento da borda direita */


}

footer {
    
    background-color: #0a4f40;
         color: white;
         padding: 95px 100px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: fixed; /* Fixar o footer na parte inferior */
         bottom: 0; /* Alinhar o footer ao fundo da tela */
         width: 100%; /* Fazer o footer ocupar a largura total */
         box-sizing: border-box; /* Incluir o padding na largura total */
         height: 95px;
        
     }
     .links {
         display: flex;
         gap: 50px;
     }
     
     .links div h4 {
         font-size: 10px;
         margin-bottom: 10px;
     }
     
     .links ul {
         list-style: none;
         padding: 0;
     }
     
     .links ul li {
         margin-bottom: 5px;
     }
     
     .links ul li a {
         color: white;
         text-decoration: none;
         font-size: 14px;
         font-family: 'Times New Roman', Times, serif;
     }
     
     .direitos {
         text-align: center;
         margin-right: 155px;
     }
     
     .direitos p {
         margin: 10px 0;
         font-size: 14px;
         text-align: center;
     }
     
     .direitos a {
         color: white;
         text-decoration: none;
         font-size: 14px;
         margin: 0 5px;
     }
  
     .container2 {
        width: 800px;
        text-align: left;
        margin-left: 5vw;
     }
     .step {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .step-number {
        font-size: 25px;
        margin-right: 15px;
        color: white;
       
    }

    .line {
        border-left: 2px solid #fff;
        height: 50px;
        margin-left: 9px;
    }

    .text {
        line-height: 1.5;
        color: white;
    }

    .text strong {
        font-size: 1.1em;
    }

    .footer-text {
        text-align: center;
        font-size: 0.9em;
        margin-top: 30px;
        color:white;
    }